# Mặc định để Git tự xử lý
* text=auto

# Ép các file script phải dùng LF (quan trọng cho Docker/Linux)
*.sh text eol=lf
gradlew text eol=lf

# Các file văn bản khác có thể dùng CRLF trên Windows
*.md text
*.bib text
